$header: 60px;
$footer: 170px;
$footer_mobile: 290px;

$primary: #fff;
$secondary: #FBE5C8;
$secondary_opacity_08: rgba(251, 229, 200, 0.8);
$secondary_opacity_05: rgba(251, 229, 200, 0.5);
$secondary_opacity_03: rgba(251, 229, 200, 0.3);
$accent: #E95468;
$accent_opacity_09: rgba(233, 84, 104, 0.9);
$accent_opacity_05: rgba(233, 84, 104, 0.5);
$accent_darker: #DC4257;

$text_color: #4d4d4d;