@use "../Variables";

.filter__button {
    margin-right: 10px;
    padding: 5px 15px;
    color: #b1b1b1;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid Variables.$accent_opacity_05;
    border-radius: 20px;
    cursor: pointer;
}

.filter__button[aria-pressed="true"] {
    color: #4d4d4d;
    border-color: Variables.$accent;
}